<div class="main">
  <div class="edit-buttons">
    <button class="boldbutton" style="font-weight: bold" (click)="boldEvent()">B</button>
    <button class="italicbutton" style="font-style: italic" (click)="italicEvent()">I</button>
    <button class="underlinebutton" style="text-decoration: underline" (click)="underlineEvent()">U</button>
    <button class="copybutton" (click)="copyToClipboard()">Copy</button>
  </div>
  <div class="list" (click)="printChangeValue()">
    <span [ngClass]="{'wrapper': underline}" [ngStyle]="{'border-bottom-color': color}">
      <span contenteditable="true" [ngStyle]="{'font-family': font, color: color,
        'font-style': italic,'font-weight': bold}" class="textarea" id="textarea">
        <span style="font-style: italic" class="print">{{print}}</span>
      </span>
    </span>
  </div>
</div>
