.main{
  width: 1839px;
}

.inputphrase {
  font-size: 15pt;
  font-weight: bold;
}

.inputphrase-theme {
  font-size: 15pt;
  font-weight: bold;
  color: white;
}

.list {
  background-color: white;
  padding-top: 20px;
  height: 900px;
  width: 636px;
  margin-left: 600px;
  border-width: 1px;
  border-style: solid;
}

.textarea {
  width: 800px;
  position: inherit;
  outline: 0;
  cursor: text;
}

.edit-buttons {
  height: 32px;
  display: inline-flex;
  justify-content: center;
  width: 1839px;
  outline: 0;

}

.print {
  font-size: 2em;
  color: rgba(98, 94, 94, 0.5);
}

.wrapper {
  margin-left: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
