.main{
  width: 1839px;
  height: 952px;
}

.list {
  outline: 0;
  background-color: white;
  padding: 12px;
  height: 900px;
  width: 636px;
  margin-left: 600px;
  border-width: 1px;
  border-style: solid;
}

.textarea {
  line-height: 1em;
  position: inherit;
  outline: 0;
  cursor: text;
}

.edit-buttons {
  background-color: rgba(255, 255, 255, 0.5);
  height: 32px;
  display: inline-flex;
  justify-content: center;
  width: 1839px;
  outline: 0;

}

.print {
  color: rgba(98, 94, 94, 0.5);
}

.wrapper {
  border-bottom-color: red;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
}

.select {
  position: absolute;
}

.select-font {
  position: inherit;
  height: 34px;
  top: 7px;
  left: 400px;
}

.select-font-size {
  position: inherit;
  height: 34px;
  left: 350px;
}
