<div class="main">
  <div class="color">
    <div class="color-icon" [ngStyle]="{'background-color': color}"></div>
    <span class="color-input" contenteditable="true" id="color-input-color" (keypress)="dynamicSubmitColor()"
          (keypress)="lengthCheck()">{{color}}</span>
  </div>
  <div class="select">
    <label class="sizelabel">Size
      <select class="select-font-size" (change)="selectSize($event)">
        <option *ngFor="let item of fontsizelist" [value]="item">{{item}}</option>
      </select>
    </label>
    <select class="select-font" (change)="selectFont($event)">
      <option *ngFor="let item of fonts" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="edit-buttons">
    <button class="boldbutton" style="font-weight: bold" (click)="boldEvent()">B</button>
    <button class="italicbutton" style="font-style: italic" (click)="italicEvent()">I</button>
    <button class="underlinebutton" style="text-decoration: underline" (click)="underlineEvent()">U</button>
    <button class="copybutton" (click)="copyToClipboard()">Copy</button>
  </div>
  <div class="list" [ngStyle]="{'font-family': font, 'font-size': fontsize, color: color, 'font-style': italic,
  'font-weight': bold}" (click)="printChangeValue()">
    <span [ngClass]="{'wrapper': underline}" [ngStyle]="{'border-bottom-color': color}">
      <span contenteditable="true" class="textarea" id="textarea">
        <span style="font-style: italic" class="print">{{printphrase}}</span>
      </span>
    </span>
  </div>
</div>
