div {
  nav, p {
    display: inline-block;
  }
  height: 72px;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(39,39,84,1) 35%, rgba(0,212,255,1) 100%);
}

p {
  font-size: x-large;
  color: white;
  cursor: pointer;
  outline: none;
}

.editor {
  margin-top: 24px;
  margin-left: 2em;
  color: white;
}

.about {
  margin-left: 5%;
}
